.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondary {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;

  color: white;
  background-color: seagreen;
  transition: background 0.2s ease;
}

.secondary:hover {
  background-color: rgb(73, 146, 105);
}

.h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #2563eb;
}
