.h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #2563eb;
}

.buttons {
  display: flex;
  gap: 12px;
}

.values {
  margin: 0 0 8px;
  font-size: 16px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;

  color: white;
  background-color: royalblue;
  transition: background 0.2s ease;
}

.button:hover {
  background-color: rgb(89, 124, 228);
}

.secondary {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font: inherit;
  cursor: pointer;

  color: white;
  background-color: seagreen;
  transition: background 0.2s ease;
}

.secondary:hover {
  background-color: rgb(73, 146, 105);
}
